@page
@model WebApplication1.Pages.BookList.CreateModel
@{
}
<br />
<h2>Create Book</h2>
<br />
<div style="border: 1px solid #bbb9b9; border-radius: 10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row" style="padding: 30px" ;>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="book.Name"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="book.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="book.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.ISBN" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="book.Author"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.Author" class="form-control" />
                    </div>
                    <span asp-validation-for="book.Author" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}